<div th:fragment="main-body">
    <div class="relative mt-6 max-w-lg mx-auto">
        <form th:action="@{/Pokemon}" method="post">
            <div>
                <div class="items-center mt-6">
                    <label>Enter Pokemon Name:</label>
                    <input th:field="*{pokemon.name}" id="crawlId" class="w-full border rounded-md pl-10 pr-4 py-2 focus:border-blue-500 focus:outline-none focus:shadow-outline"  type="text" />
                    <button class="px-8 py-2 bg-indigo-600 text-white text-sm font-medium rounded hover:bg-indigo-500 focus:outline-none focus:bg-indigo-500" style="margin-left: 75%" 
                    hx-post="/Pokemon"
                    hx-trigger="click"
                    hx-target="#poke-results"
                    hx-swap="outerHTML">Search -></button>
                </div>
            </div>
        </form>
    </div>
    <div class="container mx-auto px-6">
        <div class="mt-16" >
            <h3 class="text-gray-600 text-2xl font-medium md:text-center">Original 151 Pokemon</h3>
            <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 mt-6" >
                <div style="margin-left:25%" th:each="p, index : ${poke}">
                    <form action="#" th:name="name" th:action="@{/Pokemon(name=${p.name})}" method="post">
                        <button type="submit" class=" hover:bg-gray-200 focus:outline-none focus:bg-gray-200">
                            <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden hover:bg-gray-200">
                                <img class="flex items-end justify-end h-56 w-full bg-gray-400 hover:bg-gray-200 focus:outline-none focus:bg-gray-200" th:src="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/'+${index.count}+'.png'" />
                                <div class="px-5 py-3 hover:bg-gray-200 focus:outline-none focus:bg-gray-200">
                                    <h3 class="text-gray-700 uppercase md:text-center" th:text="${p.name}"></h3>
                                </div>
                            </div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>