<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Home Page</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>
<body>
<div class="bg-white">
<!--    header    -->
    <header>
        <div >
            <div th:replace="partials/main-header :: main-header"></div>
        </div>
        <div th:if="${partials.contains('results')}">
            <div th:replace="partials/results-search :: results-search"></div>
        </div>
    </header>
<!--    main content    -->
    <main class="my-8">
        <div th:if="${partials.contains('landing')}">
            <div th:replace="partials/main-body :: main-body "></div>
        </div>
        <div th:if="${partials.contains('results')}">
            <div th:replace="partials/results-body :: results "></div>
        </div>
        <div th:if="${partials.contains('noPoke')}">
            <div th:replace="partials/results-body-failed :: failed "></div>
        </div>
    </main>
</div>
</body>
<footer class="bg-gray-200">
<!--    Footer    -->
    <div th:replace="partials/main-footer :: foot"></div>
</footer>
</html>









